@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
        <a asp-action="Product" asp-route-slug="@item.Slug">
            <img src="/media/products/@item.Image" class="img-fluid" alt="" />
        </a>
        <h4>@item.Name</h4>
        <p>
                @item.Price.ToString("C2")
        </p>
        <p>
            <a asp-action="Product" asp-route-slug="@item.Slug" class="btn btn-info">View Details</a>
        </p>
    </div>
    }

    @if (ViewBag.TotalPages > 1)
    {
    <div class="d-flex w-100 justify-content-center">
        <front-pagination page-count="@ViewBag.TotalPages"
                          page-target="@ViewBag.CategorySlug"
                          category-id="@ViewBag.SelectedCategory"
                          page-number="@ViewBag.PageNumber"
                          page-range="@ViewBag.PageRange">
        </front-pagination>
    </div>
    }
</div>